<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="HOMEPAGE">
  <title>Homepage</title>
</head>

<body>
  <main>
    <h1>Heading 1A</h1><h1>Heading 1B</h1>
    <p>Lorem ipsum <span>dolor</span> sit amet consectetur adipisicing elit. Quam tempora iste fuga accusamus! Minus quidem eligendi fugiat suscipit iste iure reprehenderit. Quam libero sequi perferendis officiis ratione aspernatur inventore laudantium.</p>
    <section>
      <h2>Heading 2</h2>
      <p>Sensacional</p>
      <article>
        <h4>Título 4</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sed nihil optio architecto cumque consequuntur, placeat excepturi facere. Minima odio repellat blanditiis doloribus laudantium atque dicta, ab alias expedita quasi?</p>
      </article>
      <article>
        <h4>Título 4</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sed nihil optio architecto cumque consequuntur, placeat excepturi facere. Minima odio repellat blanditiis doloribus laudantium atque dicta, ab alias expedita quasi?</p>
      </article>
      <article>
        <h4>Título 4</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sed nihil optio architecto cumque consequuntur, placeat excepturi facere. Minima odio repellat blanditiis doloribus laudantium atque dicta, ab alias expedita quasi?</p>
      </article>
    </section>
    <section>
      <h2>Heading 2</h2>
      <p>Sensacional</p>
      <article>
        <h4>Título 4</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sed nihil optio architecto cumque consequuntur, placeat excepturi facere. Minima odio repellat blanditiis doloribus laudantium atque dicta, ab alias expedita quasi?</p>
      </article>
      <article>
        <h4>Título 4</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sed nihil optio architecto cumque consequuntur, placeat excepturi facere. Minima odio repellat blanditiis doloribus laudantium atque dicta, ab alias expedita quasi?</p>
      </article>
      <article>
        <h4>Título 4</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sed nihil optio architecto cumque consequuntur, placeat excepturi facere. Minima odio repellat blanditiis doloribus laudantium atque dicta, ab alias expedita quasi?</p>
      </article>
    </section>
  </main>
  <aside>
    <h3>Heading 3</h3>
    <p>Esse é o pente pra<br><b>careca</b> <i>melhor do mundo</i>!</p>
    <ol>
      <li>Unte a forma</li>
      <li>Jogue a massa dentro da forma</li>
      <li>Ponha no fornno</li>
      <li>Coma</li>
    </ol>
    <ul>
      <li>Abra a boca</li>
      <li>Ponha a comida dentro da sua boca</li>
      <li>Mastigue bem</li>
      <li>Engula</li>
    </ul>
  </aside>
</body>

</html>